 *{
  padding: 0;
  margin: 0;
 }

body{
  background: rgb(0, 0, 0);
  width: 100%;
}

 table {
  width: 100%;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

.App {
  padding: 20px;
}

.App h2{
  margin-top: 10px;
  margin-bottom: 40px;
}

.App h1{
  margin-top: 10px;
  color:#1ed861;
  font-size: 50px;
}



.SongForm {
  width: 100%;
  display: flex;
  background-color: darkcyan;
  padding: 10px;
  flex-direction: column;
  justify-content: space-around;
}

.form-item, .filter-box, .song-filter button {
  width: 20%;
  height: auto;
  margin: 10px;
  margin: 5px;
  padding: 16px 16px;
  color:black;
  text-transform: uppercase;
}

.filter-box{
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 0;
}


.form-item::placeholder{
  color:black;
  text-transform: uppercase;
}

option{
  width: 20%;
  height: 20px;
  margin: 10px;
}

.addInput{
  width: 8%;
  height: auto;
  border-radius: 4px;
  padding: 15px 1px;
  border: none;
  color: black;
  background-color: #1ed861;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 17px;
  margin-left: 5px;
}


.song-list{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.song-table{
  width: 100%;
  margin-top: 50px;
}

.song-header {
  color: rgb(0, 0, 0);
  background-color: #1ed861;
  padding-bottom: 20px !important;
  line-height: 39px;
  border: 6px solid rgb(0, 0, 0);
}

.column-song {
  width: 25%;
}

.column-artist {
  width: 25%;
}

.column-genre {
  width: 10%;
}

.column-rating {
  width: 10%;
}

.column-remove {
  width: 10%;
}

.listed-song {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: 5px;
  padding-bottom: 20px;
  line-height: 39px;
  border: 6px solid rgb(0, 0, 0);
}


.remover{

    background: rgb(255 51 0 / 0%);
    color: #282c34;
    float: left;
    padding: 20px;
    text-align: center;
    border: none;
    font-size: 14px;
    font-weight: bolder;
}


.fil-btn{
  background: #1ed861;
  color: black;
  font-weight: 900;
}

.nava{
  background: black;
  padding: 40px 0px 100px 0px;
  color: white;
  text-transform: uppercase;
  font-weight: 900;
}

.nava ul, li{
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nava li{
  margin:10px ;
}

.nava :active, :link, :visited{
  color:white;
  text-decoration: none;
}

.container{
  background:#1ed861;
  padding: 20px;
  display: grid;
  grid-template-columns: 40% 40%;
  gap: 5em;	
}

.imager{
  padding: 20px;
}
.texter{
  padding: 20px;
  width: 100%;
  text-align: left !important;
  text-transform: uppercase;
  font-weight: 900;
  margin: auto;
}
.texter p{

  margin-top: 20px;
}

.imager img{
  width: 100%;
  height: 100%;
  display: block;
  margin: auto;
  background-blend-mode:multiply;
}

.overview{
  text-align: center;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-weight: 900;
}

.App-header{
  text-align: center !important;
  text-transform: uppercase;
  font-weight: 900;
  margin: auto;
  display: block;
  width: 100%;

}